/*task*/
.wrapperTask {
	display: flex;
	margin-top: 10px;
  	margin-bottom: 10px;
	position: relative;
}
.list {
	width: 100%;
	background-color: #eee;
}
.backTask {
	border-radius: 3px;
	background-color: #B2B2B2;
	width: 100%;
}
.task {
	display: flex;
	align-items: center;
	border-radius: 3px;
	background-color: #fff;
	border: 1px solid #8875754d;
}
.listTasks__task--delete {
	margin-left: auto;
}
.listTasks__task--delete {
	margin-left: auto;
}
.listTasks__task--drag {
	padding: 5px;
	cursor: move;
	border-right: 2px solid #eee;
	border-bottom-right-radius: 2px;
	border-top-right-radius: 2px;
	color: #887575a3;
	font-size: 18px;
	font-weight: bold;
}
.listTasks__task--drag:hover {
	color: #887575;
}

.listTasks__task--text {
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
	display: inline;
    font-size: 14px;
    color: #444445;
}
.linePureBox {
	min-width: 42px;
	display: inline-block;
	background-color: transparent;
}

.firstPureBox {
	pointer-events: none;
}
.hide {
	opacity: 0;
}



.listTasks__task--checkbox {
	min-width: 13px;
    min-height: 13px;
    position: relative;
    display: inline-block;
    border: 1px solid #887575;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.doneTaskCheckbox {
	border: 1px solid transparent;
	opacity: .5;
	background-image: url('../img/icons/done.png');
	background-repeat: no-repeat;
	background-position: 0 0;
}

.doneTaskText {
	opacity: .5;
	position: relative;
}

.doneTaskText:after {
	content: '';
	height: 1px;
	background-color: #50792f;
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	animation: done .3s linear;
}

@keyframes done {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}