
//libs
@import "../../node_modules/normalize.css/normalize.css";

//fonts
@import "_fonts";

//base
@import "base/_varibles";
@import "base/_mixins.less";
@import "base/_utils";
@import "base/_base";



body{
	background: #222;
	color: red;
	
}

ul{
	background: green;
}
