.leftside {
    max-width: 190px;
}
.lists__header {
   display: flex;
   justify-content: center;
   border-bottom: 1px solid #B8A9B9;
   margin-bottom: 10px;
   margin-left: 10px;
   margin-right: 10px;
}
.lists__header--title {
   margin-left: 7px;
    font-size: 18px;
    color: #666666;
}




.leftside__lists{
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
}    
.leftside__lists--body {
    padding: 2px;
    display: flex;
   padding-left: 6px;
   cursor: pointer;
}
.leftside__lists--body:hover {
   background-color: #aaa9c74a;
   border-radius: 4px;
}
.leftside__lists--titleList{
   display: flex;
   padding-left: 7px;
   color: #444445bd;
   cursor: pointer;
}
.leftside__lists--iconList {
   display: flex;
   color: #887575;
}





    
.lists__addList{
    display: flex;
    position: relative;
} 

.lists__btnAddList {
    font-size: 16px;
    color: #666666b5;
    padding: 5px;
    cursor: pointer;
}
.lists__btnAddList:hover {
    color: #fff;
    background-color: #87878840;
    border-radius: 3px;
}
.lists__inputData {
   margin-left: 25px;
}
.addTask__windowData {

}
.lists__inputData--field {
   border: none;
   width: 128px;
   color: #444445e6;
   outline: none;
   padding: 5px;
   background-color: transparent;
   border-bottom: 1px solid #6666668f;
   height: 15px; 
}





.lists__inputData--msgError {
    position: absolute;
    top: 36px;
    right: 16px;
    font-size: 14px;
    padding: 5px;
    background-color: #ff0000de;
    border-radius: 5px;
    color: #8e1212;
    opacity: 1;
    animation-name: msgError;
    animation-duration: .5s;
       max-width: 154px;
    white-space: normal;
}
.lists__inputData--msgError:after {
    content: '';
    position: absolute;
    top: -18px;
    left:15px;
    border: 8px solid transparent;
    border-bottom: 10px solid #ff0000de;
}

@keyframes msgError {
   from {
      right:100%;
      opacity: 0;
   }
   to {
        
      right: 5px;
      opacity: 1;
   }
}



.lists__addList--colorPicker {
    position: absolute;
    left: 20px;
    top: 40px;
}

.activeList {
   background-color: #aaa9c794;
}










