
.flex-conteiner {
	display: flex;
	flex-direction: column;
	max-width: 960px;
	margin: 0 auto;
}
.row-1, .row-2, .row-3, .row-4, .row-5, .row-6, .row-7 {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.div-1, .div-2, .div-3, .div-4, .div-5, .div-6, .div-7, .div-8, .div-9, .div-10, .div-11, .div-12 {
	height: 100px;
	flex-basis: 300px;
	flex-grow: 1;
	text-align: center;
	line-height: 100px;	
	outline: 1px solid red;
} 

.div-1 {
	background-color: #AED000;	
} 

.div-2 {
	background-color: #729FD0;	
} 

.div-3 {
	background-color: #FF940C;
} 

.div-4 {
	background-color: #90C9F9;	
} 

.div-5 {
	background-color: #731423;	
} 

.div-6 {
	background-color: #fff;	
}

.div-7 {
	background-color: #B7CC41;	
}

.div-8 {
	background-color: #7A9FCC;	
}

.div-9 {
	background-color: #F3993A;	
}

.div-10 {
	background-color: #731423;	
}

.div-11 {
	background-color: #90C9F9;	
}

.div-12 {
	background-color: #fff;	
}