<div class="bigHeader__nav">
	<ul class="bigHeader__nav__items">
		<li><a href="#">PROFILE</a></li> 
		<li><a href="#">REQUESTS</a></li>
		<li><a href="#">ELEMENTS</a></li>
	</ul>
	<div class="bigHeader__nav__status">
		<span class="bigHeader__nav__status--off"></span>
		<span class="bigHeader__nav__status--on"></span>
	</div>
</div>

<div class="bigHeader__profile">
	<a class="bigHeader__profile__photo" href="#">
		<img src="../img/header/profil_big_foto.png" title="Andrei Josan" alt="Photo">
	</a>
	<div class="bigHeader__profile__userData">
		<span class="bigHeader__profile__logged">logged in as</span>
		<span class="bigHeader__profile__name" title="Andrei Josan">Andrei Josan</span>
	</div>
	<div class="bigHeader__profile__icons">
		<span class="bigHeader__profile__settings" title="Settings"></span>
		<span class="bigHeader__profile__alerts" title="Alerts">
			<kbd>4</kbd>
		</span>
		<span class="bigHeader__profile__calendar" title="Calendar">
			<kbd>21</kbd>
		</span>
	</div>
</div>