<div class="goodsNew__card">
	<img src="img/product/product-image.png" alt="Product">
	<div class="goodsNew__card__padding">
		<div class="goodsNew__card__descrip">
			<div class="goodsNew__card__descrip--title">
				<span class="goodsNew__card__descrip--title-main">WooCommerce Hood</span>
				<span class="goodsNew__card__descrip--title-sub">Streetwear / Hoodies</span>
			</div>
			<button class="goodsNew__card__descrip--price buttons">49$</button>
		</div>
		<div class="goodsNew__card__buttons">
			<button class="goodsNew__card__buttons--cart buttons">CART</button>
			<button class="goodsNew__card__buttons--wishlist buttons">WISHLIST</button>
		</div>
	</div>
</div>
