<div class="goodsBuySale__buy">
	<img src="" alt="">
	<div class="goodsBuySale__buy__info">
		<div class="goodsNew__card__descrip">
			<div class="goodsNew__card__descrip--title">
				<span class="goodsNew__card__descrip--title-main">WooCommerce Hood</span>
				<span class="goodsNew__card__descrip--title-sub">Streetwear / Hoodies</span>
			</div>
			<button class="goodsNew__card__descrip--price buttons">49$</button>
		</div>

		<div class="goodsBuySale__buy__info--discrit">
			<p>Lorem ipsum dolor sit amet, an sed scripta oporteat maiestatis, vix an lorem insolens, brute tamquam assuev sed an. Pri id iriure accusam.</p>
		</div>
		<div class="goodsBuySale__buy__info--rating">
			<span>3 reviews from customers</span>
			<span></span>
		</div>
		<div class="goodsBuySale__buy__info--add">
			<div class="choice_quantity">
				<span></span>
				<span>2</span>
				<span></span>
			</div>
			<button class="addToCard">ADD TO CART</button>
		</div>
	</div>
</div>