<div class="registration_new">
	<h3 class="heading">REGISTER A NEW ACCOUNT</h3>
	<div class="registration_new__inputs">
		<input class="input_text  registration_new__login" placeholder="desired username" type="text">
		<input class="input_text  registration_new__email" placeholder="enter e-mail address" type="email">
	</div>
	<div  class="registration_new__inputs">
		<input class="input_text registration_new__password" placeholder="desired password"  type="password">
		<input class="input_text  registration_new__password--r" placeholder="desired password" type="password">
	</div>
	
	<div class="registration_new__progress">
		<div class="registration_new__progress--text">
			<span class="registration_new__progress--l">Password strength:</span>
			<span class="registration_new__progress--r">
				<span style="color: #65d999;">77</span>/100</span>
		</div>
		<div class="registration_new__progress--line">
			<div class="registration_new__progress--green"></div>
		</div>
	</div>
	
	<div class="registration_new__checkBut">
		<div class="registration_new__checkBut--checkbox">
			<input id="check" type="checkbox">
			<label for="check">
				Registering means that you
				agree to our <a href="#" style="color: #3dcf7e; cursor: pointer;">Terms of Service</a>
			</label>
		</div>
		<button class="registration_new__checkBut--registr buttons">
			REGISTER
		</button>
	</div>
</div>