<div class="registration_access">
	<h3 class="heading">ACCESS ACCOUNT</h3>
	<div>
		<input class="input_text registration_access__login" type="text">
	</div>
	<div>
		<input class="input_text registration_access__password" type="password">
	</div>
	<div class="registration_access__buttons">
		<button class="registration_access__buttons--login buttons">LOGIN</button>
		<span class="registration_access__buttons--or">OR</span>
		
		<div class="registration_access__buttons--social">
			<button class="registration_access__buttons--tw "></button>
			<button class="registration_access__buttons--fb "></button>
		</div>
	</div>
	<div class="line"></div>
	<div class="registration_access__link">
		<a class="registration_access__link-forgot" href="#">Forgot password</a>
		<a class="registration_access__link--new" href="#" style="color:#011407;"><span style="color:#65d999; ">REGISTER</span> new account</a>
	</div>
	
</div>