<div class="smallHeader__profile">
	<img src="../img/header/profil_small_foto.png" alt="Photo">
	<span class="smallHeader__profile__name">Andrei Josan</span>
</div>
<ul class="bigHeader__nav__items smallHeader__profile__nav--verticalLine">
	<li><a href="#">PROFILE</a></li>
	<li><a href="#">REQUESTS</a></li>
	<li><a href="#">ELEMENTS</a></li>
</ul>
<div class="smallHeader__search">
	<input type="search" placeholder="Search...">
</div>
<div class="bigHeader__profile__icons">
	<span class="bigHeader__profile__settings" title="Settings"></span>
	<span class="bigHeader__profile__alerts" title="Alerts">
		<kbd>4</kbd>
	</span>
	<span class="bigHeader__profile__calendar" title="Calendar">
		<kbd>21</kbd>
	</span>
</div>
