<div class="video__playlist">
	<div class="video__playlist__slide">
		<div class="video__playlist__slide--text">
			<span class="playing" >NOW PLAYING</span>
			<span class="great">Great video of the...</span>
		</div>
		<div class="video__playlist__slide--but">
			<button class="video__playlist__slide--prew"></button>
			<button class="video__playlist__slide--next"></button>
		</div>
	</div>
	
	<div class="video__playlist__choice">
		<span class="video__playlist__choice--title">
			VIDEOS IN THIS PLAYLIST: 
		</span>
		<span class="video__playlist__choice--total"> 
			(13)
		</span>
	</div>
	
	<div class="video__playlist__listScrol">
		<div class="video__playlist__list">
			<span class="video__playlist__list--title">
				Cat videos everywhere
			</span>
			<div class="video__playlist__list--time">
				<span class="video__playlist__list--time-text">8:27</span>
				<span class="video__playlist__list--time-ic"></span>
			</div>
		</div>
		<div class="video__playlist__list">
			<span class="video__playlist__list--title">
				Flat design explained in a...
			</span>
			<div class="video__playlist__list--time">
				<span class="video__playlist__list--time-text">5:00</span>
				<span class="video__playlist__list--time-ic"></span>
			</div>
		</div>
		<div class="video__playlist__list">
			<span class="video__playlist__list--title">
				Top videos currently You...
			</span>
			<div class="video__playlist__list--time">
				<span class="video__playlist__list--time-text">21:58</span>
				<span class="video__playlist__list--time-ic"></span>
			</div>
		</div>
		<div class="video__playlist__list">
			<span class="video__playlist__list--title">
				Travelling to Romania
			</span>
			<div class="video__playlist__list--time">
				<span class="video__playlist__list--time-text">1:40</span>
				<span class="video__playlist__list--time-ic"></span>
			</div>
		</div>
	</div>
</div>
