<div class="accountInfo__skills">
	<h3 class="heading">MY SKILLS</h3>
	<div class="accountInfo__skills__progress">
		<div class="accountInfo__skills__progress--text">
			<span class="accountInfo__skills__progress--l">Photoshop</span>
			<span class="accountInfo__skills__progress--r">90%</span>
		</div>
		<div  class="accountInfo__skills__progress--line">
			<div style="width: 90%;" class="accountInfo__skills__progress--green"></div>
		</div>
	</div>
	<div class="accountInfo__skills__progress">
		<div class="accountInfo__skills__progress--text">
			<span class="accountInfo__skills__progress--l">Illustrator</span>
			<span class="accountInfo__skills__progress--r">65%</span>
		</div>
		<div class="accountInfo__skills__progress--line">
			<div style="width: 65%;"  class="accountInfo__skills__progress--green"></div>
		</div>
	</div>
	<div class="accountInfo__skills__progress">
		<div class="accountInfo__skills__progress--text">
			<span class="accountInfo__skills__progress--l">HTML &amp; CSS</span>
			<span class="accountInfo__skills__progress--r">75%</span>
		</div>
		<div  class="accountInfo__skills__progress--line">
			<div style="width:75%;" class="accountInfo__skills__progress--green"></div>
		</div>
	</div>
	<div class="accountInfo__skills__progress">
		<div class="accountInfo__skills__progress--text">
			<span class="accountInfo__skills__progress--l">PHP</span>
			<span class="accountInfo__skills__progress--r">40%</span>
		</div>
		<div  class="accountInfo__skills__progress--line">
			<div style="width: 40%;" class="accountInfo__skills__progress--green"></div>
		</div>
	</div>
</div>