<div class="accountInfoOther">
	<div class="accountInfoOther__slide">
		<a class="accountInfoOther__slide--prev" href="#">Previous</a>
		<a class="accountInfoOther__slide--next" href="#">Next</a>
	</div>
	
	<div class="accountInfoOther__subscr">
		<img src="img/small_photo.png" title="Andrei Josan" alt="Andrei Josan">
		<div class="accountInfoOther__subscr__but">
			<a href="#">Andrei Josan</a>
			<div class="accountInfoOther__subscr__but--value">
				<button class="accountInfoOther__subscr__but--sub buttons">subccribe</button>
				<span>624</span>
			</div>
		</div>
	</div>
	
	<div class="accountInfoOther__data">
		<div class="accountInfoOther__data__frofile">
			<img src="img/small_photo.png" title="Andrei Josan" alt="Andrei Josan">
			<div class="accountInfoOther__data__frofile--loc">
				<a href="#">Andrei Josan</a>
				<span>Bucharest, Romania</span>
			</div>
		</div>
		
		<div class="accountInfoOther__data__line line"></div>
		
		<div class="accountInfoOther__data__info">
			<div class="accountInfoOther__data__info--friends">
				<span class="accountInfoOther__data__info--num">245</span>
				<span class="accountInfoOther__data__info--text">friends</span>
			</div>
			<div class="accountInfoOther__data__info--views">
				<span class="accountInfoOther__data__info--num">7654</span>
				<span class="accountInfoOther__data__info--text">views</span>
			</div>
			<div class="accountInfoOther__data__info--likes">
				<span class="accountInfoOther__data__info--num">809</span>
				<span class="accountInfoOther__data__info--text">likes</span>
			</div>
		</div>
	</div>
</div>
