<div class="accountInfo__profile">
	<div class="accountInfo__profile__photo">
		<img src="img/big_photo.png" alt="Andrei Josan">
		<span class="accountInfo__profile__photo--status" ></span>
	</div>
	<a class="accountInfo__profile__name" >Andrei Josan</a>
	<span class="accountInfo__profile__subtitle">web &amp; UI/UX designer</span>
	<div class="accountInfo__profile__social">
		<a class="accountInfo__profile__social--tw" href="#"></a>
		<a class="accountInfo__profile__social--fb" href="#"></a>
		<a class="accountInfo__profile__social--g" href="#"></a>
		<a class="accountInfo__profile__social--plus" href="#"></a>
	</div>
	<a href="#" class="accountInfo__profile__follow">+Follow</a>
</div>