<div class="video__player">
	<div class="video__player__screen">
		<img src="" alt="">
		<button class="video__player__screen--replay"></button>
		<div class="video__player__screen--share">
			<button class="share__plus">
			<span></span>
			</button>
			<button class="share__tw"></button>
			<button class="share__fb"></button>
			<button class="share__g"></button>
		</div>
	</div>

	<div class="video__player__panel">
		<button class="video__player__panel--play"></button>
		
		<div class="video__player__panel--progress">
			<div class="video__player__panel--progress--grey">
				<div class="video__player__panel--progress--green"></div>
			</div>
		</div>
		
		<div class="video__player__panel--time">
			<span>2:30</span>
			<span>/</span>
			<span>4:58</span>
		</div>
		
		<div class="video__player__panel--volume">
			<button class="video__player__panel--volume-ic"></button>
			<div class="video__player__panel--volume-grey">
				<div class="video__player__panel--volume-green"></div>
			</div>
			
		</div>
		
		<div class="video__player__panel--hd">
			<button class="video__player__panel--hd-but">HD</button>
		</div>
		
		<div class="video__player__panel--full">
			<button class="video__player__panel--full-ic"></button>
		</div>

	</div>

</div>
