*, *:before, *:after {
	box-sizing: border-box;
	outline: none;
}
.container {
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.label {
	border:2px solid #eee;
	padding: 5px;	
	border-radius: 4px;
}
.inputColor {
	margin-left: 5px;
}

.button {
	position: relative;
	width: 200px;
	height: 35px;
	padding: 0;
	border: none;
    border-radius: 5px;
    margin: 10px;
} 

.button__submit {
	color: #fff;
	font-weight: 600;
	font-size: 16px;
	cursor: pointer;
	display: inline-block;
}
.button__submit:hover {
	text-decoration: underline;
}
.button__loading {
	background-image: url(../img/refresh-arrow.png);
	width: 16px;
	height: 16px;
}
.button__checked {
	background-image: url(../img/checked.png);
	width: 16px;
	height: 16px;
}
.button__progress {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background-color: #fff;
	opacity: .3;
}


.active span:nth-child(1) {
	display: none;
}
.active span:nth-child(2) {
	width: 100%;
	transition: width 2s linear;
}
.active span:nth-child(3) {
	display: inline-block;
	animation: loading .5s linear infinite;
}
.active span:nth-child(4) {
	display: none;
}


.finished span:nth-child(1) {
	display: none;
}
.finished span:nth-child(2) {
	display: none;
}
.finished span:nth-child(3) {
	display: none;
}
.finished span:nth-child(4) {
	display: inline-block;
	animation: scale 0.5s linear;
}

@keyframes loading {
	100% { transform: rotate(360deg); }
}

@keyframes scale {
	0%   { transform: scale(3); }
	50%  { transform: scale(0.2); }
	70%  { transform: scale(1.2); }
	90%  { transform: scale(0.7); }
	100% { transform: scale(1); }
}




