.password{
	display: flex;
	background: #999;
	position: relative;
}
.password_field{
	width: 100%;
	height: 35px;
	padding-right: 40px;
}
.password_field_closedEye{
	position: absolute;
	right: 5px;
    top: 5px;
	width: 32px;
	height: 32px;
	background-image: url('../static/img/hide.png')	
}
.password_field_openedEye{
	position: absolute;
	right: 5px;
    top: 5px;
	width: 32px;
	height: 32px;
	background-image: url('../static/img/show.png')
}