.btnBackToMainPage {
	opacity: 0.4;
	background-color: #999;
	width: 45px;
	height: 45px;
	position: fixed;
	top: 5px;
	left: 20px;
	border-radius: 5px;
	border: none;
    background-image: url('../../img/icons/left-arrow.png');
	background-repeat: no-repeat;
	background-position: center center;
    cursor: pointer;
    outline: none;
    transition: all .3s ease;
}  
.btnBackToMainPage:hover {
    opacity: 0.9;
}