<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- Titles -->
    <title>Document</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- Syles -->
    <link rel="stylesheet" type="text/css" href="css/styles.css">

    <!-- FavIcons -->
    <link rel="icon" href=""  type="image/x-icon" />
    <link rel="shortcut icon" href=""  type="image/x-icon" />
    <link rel="apple-touch-icon" href="">
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">Вы используете <strong>устаревшую</strong> версию браузера. Пожалуйста <a href="http://browsehappy.com/">обновите свой браузер</a>.</p>
    <![endif]-->
  
    <div id="columns">
        <div class="outBlock" draggable="true">
           <div id="in" class="inBlock">1</div>
           <div id="in2" class="inBlock">2</div>
        </div>
        <div  class="outBlock" draggable="true">
        </div>
       
         <div class="addOutBlock"></div>
    </div>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>