.loader {
  border: 16px solid #233e67;
  border-radius: 50%;
  border-top: 16px solid #999;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}