.calendar {
	display: flex;
	flex-direction: column;
	width: 166px;
	padding: 10px;
}



.calendar__nav {
	display: flex;
	margin-bottom: 15px;
}
.calendar__nav__arrowLeft {
	margin-right: auto;
	background-image: url('../img/icons/chevron-left.png');
	background-repeat: no-repeat;
	background-position: -4pxs 0;
	background-color: transparent;
	border: none;
}
.calendar__nav__arrowRigth {
	margin-left: auto;
	background-image: url('../img/icons/chevron-right.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	background-color: transparent;
	border: none;
}
.calendar__nav__titleMonth {
	font-size: 16px;
    color: #444445;
}
.calendar__nav__titleMonth:first-letter{
	text-transform: uppercase;
}



.calendar__daysTitle {
	display: flex;
	justify-content: space-around;
	text-align: center;
	border-bottom: 1px solid #B8A9B9;
	margin-bottom: 15px;
}
.calendar__daysTitle--item {
	width: 24px;
    padding: 0;
    border: none;
    background-color: #FFFFFF;
    font-size: 12px;
    color: #444445;
}



.calendar__week {
	display: flex;
	justify-content: space-around;
	text-align: center;
	margin-bottom: 9px;
}
.calendar__week__day {
	width: 24px;
    padding: 0;
    border: none;
    background-color: #FFFFFF;
    font-size: 12px;
    color: #444445;
    cursor: pointer;
}

.saturday {
	color: #448BCD;
}
.sunday {
	color: #F44674;
}
.notCurrentMonth {
	color: #AAA9C7;
}