#todolist{
	display:flex;
	position: relative;
	height: 100vh;
}

.leftside {
	position: relative;
	display: flex;
	flex-direction: column;
	border-right: 1px solid #eee;
	min-width: 190px;
	background-color: #e3d7bfe0;
}
.content {
	background-image: url('../CenterContent/img/bg-content.png');
	background-size: cover;
	width: 100%;
	position: relative;
	padding: 25px;
	overflow-y: auto;
}
.listTasks__titleList {
	color:#ddd;
	font-size: 20px;
	font-weight: 600;
    display: inline-block;
    margin-right: 25px;
}
.listTasks__header {
	margin-bottom: 20px;
	display: flex;
}
.listTasks__quickSearch {
	position: relative;
}
.listTasks__quickSearch--input {
	position: relative;
}
.listTasks__quickSearch--input--icon {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	color: #6666663d;
    height: 27px;
    display: flex;
    align-items: center;
    width: 25px;
    justify-content: center;
    border-right: 1px solid #8875753d;
}
.listTasks__quickSearch--field {
	width: 200px;
    height: 25px;
    border-radius: 4px;
    border: none;
    position: relative;
    padding-left: 30px;
    background-color: #f1f1f142;
}
.listTasks__quickSearch--select {
	display: flex;
	flex-direction: column;
	/*border-top: 2px solid #887575bf;*/
	border-radius: 5px;
	position: absolute;
	width: 228px;
    background-color: #eee;
    margin-top: 5px;
}
/*.listTasks__quickSearch--select:after {
	content: '';
    position: absolute;
    top: -18px;
    left: 26px;
    border: 8px solid transparent;
    border-bottom: 10px solid #887575bf;
    z-index: 150;
}*/

.listTasks__quickSearch--select--items {
	display: flex;
	background-color: #eee;
	width: 100%;
	border: solid 1px #e4e8ed;
	cursor: pointer;
	opacity: 1;
	z-index: 100;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.listTasks__quickSearch--select--items:hover {
	background-color: #ddd;
}



.rightSide {
	width: 400px;
	background-color: #e3d7bfe0;
	border-left: 1px solid #eee;
}
.displayNone {
	display:none;
}
.displayFlex {
	display: flex;
}

/*TAG*/
.tagDeleteIcon {
	padding-left: 3px;
    cursor: pointer;
}
.tagDeleteIcon:hover {
	color:#fff;
}

.red {
    color: #ff0000bf;
}
.orange {
    color: orange;
}
.blue {
    color: blue;
}
.grey {
    color: grey;
}
.cursorImg {
	pointer-events: none;
	position: absolute;
	transform: rotate(-1deg);
	top: -10000px;
	z-index: 100;
}
.classDraggingElem {
	opacity: 0;
}
.classDraggingDarkBack {
	border-radius: 4px;
    background-color: #66666657;
}
.classDraggingOpacity {
	opacity: .5;
	pointer-events: none;
}
::placeholder {
   font-size: 14px;
   font-style: italic;
}

.tasks {
	padding: 8px 18px 4px 0;
	/*position: relative;*/
	width: 600px;
	height: 400px;
	background-color: #eee;
	border-top: 4px solid #666666;
}


/*.leftside {
	border-top: 4px solid #666666;
	border-left: 4px solid #666666;
	border-bottom: 4px solid #666666;
	background-color: #eee;
}*/








.lineFullVertical,
.lineFullVerticalHalfRight,
.lineHalfUpHalfRight,
.linePureBox {
	position: relative;	
}
.lineFullVertical:before {
	content: '';
	width: 1px;
	height: 52px;
	position: absolute;
	top: -10px;
	left: 22px;
	background-color: #d56e00;
}
.lineFullVerticalHalfRight:before{
	content: '';
	height: 52px;
	width: 1px;
	position: absolute;
	left: 22px;
	top: -10px;
	background-color: #d56e00;
}

.lineFullVerticalHalfRight:after{
	content: '';
	height: 1px;
	width: 18px;
	position: absolute;
	right: 0;
	top: 21px;
	background-color: #d56e00;
}
.lineHalfUpHalfRight:before {
	content: '';
	height: 1px;
	width: 18px;
	position: absolute;
	right: 0;
	top: 20px;
	background-color: #d56e00;

	/*content: '';
    height: 1px;
    width: 19px;
    position: absolute;
    right: 0px;
    top: 20px;
    background-color: #999;*/

}


.lineHalfUpHalfRight:after {
	content: '';
	height: 31px;
	width: 1px;
	position: absolute;
	left: 22px;
	top: -10px;
	background-color: #d56e00;
/*
	    content: '';
    height: 31px;
    width: 1px;
    position: absolute;
    left: 22px;
    top: -10px;
    background-color: #999;*/
}


.listTasks__toggle {
	position: absolute;
    left: 12px;
    top: 12px;
    border-radius: 50%;
    width: 16px;
    height: 18px;
    border: 1px solid #88757545;
    background-color: #eee;
    z-index: 1;
    pointer-events:auto;
}

.listTasks__toggle:after {
	content: '';
    height: 1px;
    width: 15px;
    position: absolute;
    left: 14px;
    top: 8px;
    background-color: #d56e00;
}
.listTasks__toggle--plus:before {
	content: '+';
	position: absolute;
	color: #88757545;
	font-weight: 400;
	font-size: 23px;
    top: -5px;
    left: 1px;
}
.listTasks__toggle--minus:before {
	content: '-';
	position: absolute;
	color: #88757545;
	font-weight: 400;
	font-size: 32px;
	left: 2px;
	top: -12px;
}

.opacity {
	opacity: 0.5;
	pointer-events: none;
}

.datePicker{
	border:2px solid red;
}

