h1 {
	font-size: 24px;
	text-align: left;
	margin-left: 50px;
}
.form {
	width: 400px;
	margin: 0 auto;
}
input {
	margin: 15px;
	display: block;
	min-width:250px;
	background-color: #F9F9FA;
	border: 1px solid #DDDDDE;
	height: 30px;
	border-radius: 5px;
	padding-left: 10px;
	
}
input:focus {
	border: 1px solid #69A7E1;
}
#submit {
	min-width: 100px;
	background-color: #4EA066;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	margin-left: 78px;
	border: 1px solid #4EA066;
	cursor: pointer;
}
span {
	font-size: 12px;
	min-width: 160px;
	color: #A0A0A0;	
}

div {
	display: flex;
	align-items: center;
}
p {
	font-size: 22px;
	border: 1px solid #DDDDDE;
	background-color: #F9F9FA;
	border-radius: 5px;
	padding: 10px;
}