*, *:before, *:after {
	box-sizing: border-box;
	outline: none;
}
.container {
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.thumbnail {
	display: flex;
    flex-direction: column;
	width: 250px;
	padding: 10px;
	margin: 10px;
	border: 2px solid #eee;
	border-radius: 5px;
}

.thumbnail__img {
	width: 200px;
	margin: 0 auto;
	display: block;
}
.thumbnail__btn {
	margin-top: auto;
	padding: 10px;
    background-color: #3479B7;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    width: 150px;
}
.thumbnail__num {
	background-color: #fff;
    color: #3479B7;
    border-radius: 10px;
    padding: 2px 7px 3px 6px;
    margin-left: 5px;
    font-weight: 800;
}